.home-page {
  background-image: url('/public/assets/Background.png');
  padding-bottom: 50px;
}

.banner-container {
  position: relative;
  width: 100%;
  height: 90vh;
  /* height: 560px; */
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5f4f4;
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-align: center;
  width: 80%;
}

.vision-card {
  background-color: #a2845e;
}

.mission-card {
  background-color: #214b26;
}

.contact-card {
  background-color: #214b26;
}

.mt-2{
  color: black;
  text-align: center;
}