.home-page {
  background-image: url('/public/assets/Background2.png');
  padding-bottom: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.banner-image {
  width: 90%;
  height: 500px;
  object-fit: cover;
}

.vision-card {
  background-color: #a2845e;
  border-radius: 15px;
  padding: 25px;
}

.mission-card {
  background-color: #214b26;
  border-radius: 15px;
  padding: 25px;
}

.contact-card {
  background-color: #214b26;
  border-radius: 15px;
  padding: 25px;
}

p.lead {
  font-size: 1.1rem;
  line-height: 1.6;
}